.tb-feed-add-account-wrapper fieldset {
  display: none;
}

#tb-rss-feed-admin-settings .fieldset-wrapper .form-type-textfield label {
  display: inline-block;
  width: 150px;
  float: left;
}

#tb-rss-feed-admin-settings .fieldset-wrapper .form-type-textfield input.form-text {
  width: 70%; 
  max-width: 70%;
  display: inline-block;
}

#tb-rss-feed-admin-settings .fieldset-wrapper div.description {
  display: block;
}

#tb-rss-feed-admin-settings a.btn  {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

#tb-rss-feed-admin-settings a.btn-add-account  {
  background-image: url(image/ico_add.png);
}

#tb-rss-feed-admin-settings a.btn-delete-account  {
  background-image: url(image/ico_delete.png);
}

#tb-rss-feed-admin-settings a.btn-verify-account {
  background:  url(image/buttons.png) repeat-x 0 0;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  border-image: none;
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  color: #5A5A5A;
  cursor: pointer;
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-size: 1.077em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 4px 17px;
  text-align: center;
  display: inline-block;
}

#tb-rss-feed-admin-settings a.btn-verify-account:hover,
#tb-rss-feed-admin-settings a.btn-verify-account:focus,
#tb-rss-feed-admin-settings a.btn-verify-account:active  {
  text-decoration: none; 
}

.node-tb-rss-feed .field-name-body img {
  max-width: 100%;
}
